/* Desenvolva sua estilização aqui ... */

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-grey-9);
    color: var(--color-grey-0);
    font-size: var(--font-2);
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 20px;
    margin-top: 20px;
  
  }

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 70%;
    margin-bottom: 50px;
  }
  
  .logo {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: var(--font-1);
    margin-left: 100px;
  }
  
  .btn-controller {
    background-color: var(--color-grey-7);
    color: var(--color-grey-0);;
    border: none;
    padding: 8px 12px;
    border-radius: var(--radius-1);
    cursor: pointer;
    margin-right: 100px;
  }
  

  .section-filter {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
  }

  .container__price{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .section-filter h2 {
    font-size: var(--font-1);
    margin-bottom: 10px;
  }

  .input-range{
    width: 100%; 
    margin-top: 10px;
   accent-color: var(--color-brand-1);
  }


  .list-filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .list-filters li {
    display: inline-block;
    width: auto;
  }
  
  .list-filters button {
    background-color: var(--color-grey-7);
    color: var(--color-grey-0);
    padding: 5px 15px;
    border: none;
    border-radius: var(--radius-1);
    cursor: pointer;
  }
  
 
  .section-cards {
    width: 80%;
  }
  
  .section-cards h2 {
    font-size: var(--font-1);
    margin-bottom: 20px;
  }
  
  .list-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .card{
    background-color: var(--color-grey-8);
    /* padding: 20px; */
    border-radius: var(--radius-1);
    position: relative;
    height: 40vh;
    width: 46%;
    
  }

.card.hidden {
  display: none;
}
  
  .img-card{
    max-width: 100%;
    height: auto;
    border-radius: var(--radius-1) var(--radius-1) 0 0;
  }
  
  .title-card{
    font-size: var(--font-3);
    margin-top: 5px;
    position: relative;
    top: 3px;
    left: 10px;
  }

  .price-card{
    font-size: var(--font-3);
    font-weight: 600;
    position: absolute;
    left: 10px;
  }
  
  .list-cards h2 {
    font-size: var(--font-2);
    margin: 10px 0;
    font-weight: 600;
    position: relative;
    top: 30px;
    left: 10px;
  }
  
  .list-cards span {
    font-weight: 600;
    position: absolute;
    bottom: 25px;
  }
  
  .btn-pay {
    background-color: var(--color-grey-7);
    color: var(--color-grey-0);
    padding: 5px 15px;
    border: none;
    border-radius: var(--radius-1);
    cursor: pointer;
    position: absolute;
    right: 25px;
    bottom: 20px;
  }
  